
<div class="item form-group">
    <label class="control-label col-md-12 col-sm-12 col-xs-12" for="idProjeto">
        Classe <span class="required">*</span>
    </label>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <select id="idClasse" name="idClasse"  class="form-control">
            <option value="0">Selecione</option>
            @foreach (var item in ViewBag.classeList)
            {
                <option value="@item.id" @(Model != null ? (Model.idClasse == item.id ? "selected" : "") : "")>@item.descricao</option>
            }
        </select>
    </div>
</div>

<div class="item form-group">
    <label class="control-label col-md-12 col-sm-12 col-xs-12" for="idProjeto">
        Assunto <span class="required">*</span>
    </label>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <select id="idAssunto" name="idAssunto" class="form-control">
            <option value="0">Selecione</option>
            @foreach (var item in ViewBag.assuntoList)
            {
                <option value="@item.id" @(Model != null ? (Model.idAssunto == item.id ? "selected" : "") : "")>@item.descricao</option>
            }
        </select>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-lg-12">Descrição<span class="text-danger">*</span></label>
    <div class="col-lg-12">
        <input id="descricao" name="descricao" required="required" aria-required="true" class="form-control" type="text" placeholder="Informe a cor" maxlength="45" value="@(Model != null ? Model.descricao : "")" />
    </div>
</div>

<div class="form-group">
    <label class="control-label col-lg-12">Valor Ação</label>
    <div class="col-lg-12">
        <input id="valorCausa" name="valorCausa" aria-required="true" class="form-control maskCurrency" type="text" placeholder="Valor" maxlength="18" value="@(Model != null ? Model.valorCausa : "")" />
    </div>
</div>